.BadgesNF__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    min-height: calc(100vh - 60px);
  }

.BadgesNF__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    min-height: calc(100vh - 60px);
  }  

  /*.BadgesNF__hero>.BadgesNF__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */ 

.BadgesNF_conf-logo {
    margin-bottom: 2rem;
  } 